@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body;
    @apply text-dark;
  }

  h1, h2, h3 {
    @apply font-space;
    @apply text-dark;
  }
}

:root {
  color: #26463F;
  background: linear-gradient(to bottom, #FDFFA7, #B1DBC5);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing {
  background-image: url('./assets//landing.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.checkbox {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
}

.checkbox:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background-color: white;
  transform: translate(-50%, -50%);
  clip-path: polygon(14% 44%, 0% 65%, 50% 100%, 100% 25%, 80% 0%, 43% 62%);
}
